/* ======================================================
   FOOTER STYLES
====================================================== */
.footer {
    background: transparent;
    padding: 60px 0 10px;
}

.footer-title {
    font-size: 14px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 12px;
    position: relative;
    padding-bottom: 8px;
    color: var(--burgundy-color);
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    color: var(--burgundy-dark);
    text-decoration: none;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    opacity: 0.8;
}

.footer-links a:hover {
    color: var(--burgundy-light);
    opacity: 1;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--burgundy-dark);
    text-decoration: none;
    font-size: 14px;
}

.social-link i {
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    width: 20px;
}

.footer-bottom {
    border-top: 1px solid var(--burgundy-dark);
    padding-top: 10px;
    margin-top: 60px;
}

.footer-bottom p {
    margin: 0;
    color: var(--burgundy-dark);
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    opacity: 0.8;
}

.payment-methods {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.payment-methods span {
    color: var(--burgundy-dark);
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    opacity: 0.8;
}

.payment-images {
    display: flex;
    gap: 8px;
}

.payment-methods img {
    height: 17px;
    width: auto;
}