/* HEADER ICONS */
.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-icon {
    color: var(--burgundy-dark);
    text-decoration: none;
    cursor: pointer;
    padding: 8px;
    position: relative;
}

.header-icon svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.header-separator {
    color: var(--burgundy-dark);
    font-size: 20px;
    margin: 0 5px;
}

.header-icon .badge {
    position: absolute;
    top: 0;
    right: 3px;
    background: var(--burgundy-light);
    color:  var(--light-color);
    border-radius: 50%;
    width: 14px;
    height: 16px;
    font-size: 11px;
    font-family: "Noto Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    min-width: 15px;
    line-height: 1;
}

.header-icon,
.header-icon:focus,
.header-icon:active {
    outline: none;
    border: none;
    background: none;
}
